.pillar-сonclusion {
  width: 100%;
  margin-bottom: 78px;

  .container {
    width: 100%;
    max-width: 990px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .title {
    color: #37a6ee;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .сonclusion--text {
    margin-bottom: 60px;

    p {
      margin-bottom: 40px;
      color: #646464;
      font-size: 18px;
      font-weight: 300;

      strong {
        color: #37a6ee;
        font-weight: 700;
      }
    }
  }

  .form-сonclusion {
    width: 100%;
    background-image: linear-gradient(-45deg, #36a5ed 0%, #59beff 100%);
    padding: 36px 50px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .сonclusion-form--left {
      width: 100%;
      max-width: 400px;
      color: #ffffff;
      font-size: 24px;
      margin-right: 20px;
      font-weight: 700;
    }

    .сonclusion-form--right {
      width: 100%;
      max-width: 320px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .form--title {
        color: #ffffff;
        text-align: center;
        margin-bottom: 30px;
        font-size: 18px;
        font-weight: 700;
      }

      input {
        width: 100%;
        height: 42px;
        border-radius: 40px;
        border: 1px solid #ffffff;
        margin-bottom: 15px;
        background: transparent;
        color: #ffffff;
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        line-height: 14px;

        &::placeholder {
          color: #ffffff;
          text-align: center;
          font-size: 14px;
          font-weight: 300;
          line-height: 14px;
        }
      }

      button {
        width: 162px;
        height: 42px;
        border-radius: 40px;
        background-color: #ffffff;
        color: #37a6ee;
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        margin-top: 25px;
        cursor: pointer;
        transition: background-color .4s ease-in-out, color .4s ease-in-out;
        border: none;
        &:hover {
          background-color: #37a6ee;
          color: #fff;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .pillar-сonclusion .form-сonclusion {
    flex-direction: column;
  }
  .pillar-сonclusion .form-сonclusion .сonclusion-form--left {
    max-width: initial;
    margin-bottom: 40px;
    margin-right: 0;
    text-align: center;
  }
  .pillar-сonclusion .form-сonclusion .сonclusion-form--right {
    max-width: initial;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 440px) {
  .pillar-сonclusion .form-сonclusion .сonclusion-form--left {
    font-size: 18px;
  }
}