.resources {
  position: relative;
  background-color: #fafafa;
  padding: 68px 0 87px;

  .container {
    width: 100%;
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .title {
    color: #36a5ed;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 66px;
  }

  .resources_wrap {
    display: flex;
    justify-content: center;
    padding: 0 40px;
    position: relative;
    overflow: hidden;

    .slider_arrow {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: flex;
      align-items: center;

      .arrow_back {
        position: absolute;
        left: 0;
        cursor: pointer;
      }

      .arrow_next {
        position: absolute;
        right: 0;
        cursor: pointer;
      }
    }

  }

  .resources_items {
    display: flex;
    flex-wrap: wrap;
  }

  .resources_item {
    z-index: 5;
    width: 30%;
    flex: 0 0 30%;
    padding: 28px 32px 35px;
    background: #fff;
    position: relative;
    margin: 0 20px 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      background: #36a5ed;
    }
  }

  .resources_type {
    color: #646464;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .resources_text {
    color: #646464;
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 300;
  }

  .resources_btn {
    width: 180px;
    height: 40px;
    border-radius: 40px;
    background-color: #36a5ed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .4s ease-in-out;

    &:hover {
      background: #37d6ff;
    }

    span {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 14px;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .resources .resources_items {
    justify-content: center;
  }
  .resources .resources_item {
    width: 26%;
    flex: 0 0 26%;
  }
}

@media only screen and (max-width: 1170px) {
  .resources .resources_items {
    justify-content: center;
  }
  .resources .resources_item {
    width: 30%;
    flex: 0 0 30%;
    margin: 0 10px 30px;
  }
}
@media only screen and (max-width: 960px) {
  .resources .resources_item {
    width: 45%;
    flex: 0 0 45%;
  }
  .resources .resources_wrap {
    padding: 0 10px;
  }
  .resources .resources_items {
    flex-wrap: wrap;
  }
  .resources .resources_item {
    width: 45%;
    max-width: initial;
    margin: 0 10px 30px;
  }
}

@media only screen and (max-width: 600px) {
  .resources .resources_item {
    width: 100%;
    max-width: initial;
    margin: 0 10px 30px;
  }
  .resources .resources_item {
    width: 100%;
    flex: 0 0 100%;
  }
}