.all-blog {
  position: relative;
  width: 100%;
  padding: 120px 0 60px;
  background: #fafafa;

  .all-blog--h1 {
    text-align: center;
    padding: 0 10px;
    color: #37a6ee;
    margin-bottom: 90px;
    font-size: 36px;
    font-weight: 700;
  }

  .all-blog--wrap {
    width: 100%;
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .all-blog--item {
    width: 30%;
    flex: 0 0 30%;
    margin: 0 10px 40px;
    position: relative;
    background: #fff;

    &:hover {
      .all-blog--img {
        img {
          transform: scale(1.1);
        }
      }
    }

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #3aa8ef;
      content: '';
    }

    .all-blog--img {
      position: relative;
      width: 100%;
      height: 300px;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: transform .4s ease-in-out;
      }
    }

    .all-blog--info {
      padding: 40px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .all-blog--title {
      color: #37a6ee;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
      min-height: 60px;
    }

    .all-blog--btn {
      width: 180px;
      height: 40px;
      border-radius: 40px;
      background: #36a5ed;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background .4s ease-in-out;

      &:hover {
        background: #37d6ff;
      }

      span {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 14px;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .all-blog .all-blog--item {
    width: 47%;
    flex: 0 0 47%;
  }
}

@media only screen and (max-width: 700px) {
  .all-blog .all-blog--item {
    width: 100%;
    flex: 0 0 100%;
    margin: 0 0 40px;
  }
  .all-blog .all-blog--item .all-blog--img {
    height: 200px;
  }
}