.clients {
  width: 100%;
  padding: 68px 0 93px;
  background-image: linear-gradient(180deg, rgba(54, 165, 237, 0.15) 0%, rgba(255, 255, 255, 0) 100%);

  .container {
    width: 100%;
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .title {
    color: #36a5ed;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 95px;
    text-align: center;
  }

  .clients_wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .clients_item {
      width: 16%;
      margin: 0 30px 30px;
      position: relative;

      .clients_image {
        position: relative;
        margin-bottom: 44px;
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          position: relative;
        }
      }

      .clients_name {
        color: #646464;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 1170px) {
  .clients .clients_wrap .clients_item {
    width: 19%;
  }
}

@media only screen and (max-width: 960px) {
  .clients .clients_wrap .clients_item {
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .clients .clients_wrap .clients_item {
    width: 45%;
    margin: 0 10px 30px;
  }
}