.header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(#000000, 0.7);
  z-index: 55;
  color: #fff;

  &--wrap {
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &--logo {
    width: 160px;
    height: auto;
    line-height: 0;
  }


  .burger_menu {
    position: relative;
    width: 30px;
    height: auto;
    display: none;

    svg {
      position: relative;
      width: 100%;
      height: auto;
      fill: #fff;
    }
  }

  .header--nav--wrap {
    position: relative;
  }

  &--nav {

    .burger_menu--cls {
      position: absolute;
      top: 0;
      right: 0;
      width: 20px;
      height: auto;
      display: none;
      transform: translate(100%, -100%);

      svg {
        fill: #fff;
      }
    }

    .nav--link {
      margin: 0 20px;
      font-size: 18px;
      color: #fff;
      position: relative;
      cursor: pointer;

      &:hover, &.active {
        &:before {
          width: 100%;
        }
      }

      &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0px;
        height: 1px;
        background: #36A5ED;
        transition: width .4s ease-in-out;
        content: '';
      }
    }
  }
}


@media only screen and (max-width: 1600px) {
  .header--logo {
    width: 120px;
  }
  .header--nav {
    .nav--link {
      font-size: 16px;
    }
  }
  .btn {
    max-width: 180px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1360px) {
  .header--nav {
    .nav--link {

      margin: 0 10px;
    }
  }
  .header--wrap {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1170px) {
  .header {
    .burger_menu {
      display: flex;
      position: absolute;
      top: 50%;
      right: 210px;
      transform: translateY(-50%);
    }
  }
  .header--nav {
    position: fixed;
    top: -200vh;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(#363636, 1);
    visibility: hidden;
    opacity: 0;
    transition: top .4s ease-in-out, opacity .4s ease-in-out, visibility .4s ease-in-out;

    &.active {
      top: 0;
      opacity: 1;
      visibility: visible;
    }

    .burger_menu--cls {
      display: block;
      cursor: pointer;
    }

    .header--nav--wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .nav--link {
      margin: 20px 0;
    }
  }
}

@media only screen and (max-width: 440px) {
  .header--logo {
    width: 100px;
  }
  .btn {
    max-width: 140px;
  }
  .header .burger_menu {
    right: 160px;
  }
}