.stack {
  position: relative;
  padding: 68px 0 20px;

  .container {
    width: 100%;
    max-width: 1140px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .title {
    color: #36a5ed;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 80px;
    text-align: center;
  }

  .stack_wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .stack_item {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 67px;

      .stack_image {
        max-width: 140px;
        height: auto;
        margin-bottom: 25px;
        position: relative;
        overflow: hidden;
        min-height: 80px;
        display: flex;
        align-items: center;

        img {
          position: relative;
          max-height: 60px;
          width: auto;
        }
      }

      .stack_name {
        color: #646464;
        text-align: center;
        font-size: 18px;
        font-weight: 300;
      }

    }
  }
}

@media only screen and (max-width: 960px) {
  .stack .stack_wrap .stack_item {
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .stack .stack_wrap .stack_item {
    width: 45%;
  }
}