.consultations {
  position: relative;
  padding: 116px 0 109px;
  overflow: hidden;

  .container {
    position: relative;
    z-index: 5;
    width: 100%;
    max-width: 710px;
    margin: 0 auto;
  }

  .consultations_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .consultations_text {
    color: #ffffff;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
  }

  .consultations_btn {
    width: 320px;
    height: 60px;
    border-radius: 40px;
    background-color: #36a5ed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .4s ease-in-out;

    &:hover {
      background: #37d6ff;
    }

    span {
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
    }
  }


  .consultations_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media only screen and (max-width: 768px) {
  .consultations {
    padding: 60px 0;
  }
  .consultations .consultations_text {
    font-size: 20px;
  }
}