.benefits {
  position: relative;
  width: 100%;
  background: #FAFAFA;
  padding: 68px 0 81px;

  .container {
    width: 100%;
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .title {
    color: #36A5ED;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 99px;
  }

  &_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 183px;
    align-items: center;
  }

  .benefits_left {
    width: 100%;
    max-width: 526px;
    margin-right: 20px;
  }

  .benefits_right {
    width: 100%;
    max-width: 584px;
    position: relative;

    img {
      position: relative;
      width: 100%;
      height: auto;
    }
  }

  .benefits_item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .benefits_icon {
    width: 100px;
    height: auto;
    margin-right: 50px;
  }

  .benefits_text {
    font-weight: 300;
    font-size: 24px;
    color: #646464;
  }
}

@media only screen and (max-width: 1360px) {

  .benefits_wrap {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 1170px) {
  .benefits .benefits_icon {
    width: 70px;
  }
}

@media only screen and (max-width: 768px) {
  .benefits_wrap {
    flex-direction: column-reverse;
  }
  .benefits .benefits_left {
    margin-top: 50px;
  }
}