.pillar-top--why-migrate {
  position: relative;
  width: 100%;

  .container {
    width: 100%;
    max-width: 990px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .title {
    color: #37a6ee;
    text-align: center;
    margin-bottom: 46px;
    font-size: 36px;
    font-weight: 700;
  }

  .pillar-top--why-migrate--info {
    p {
      margin-bottom: 40px;

      a {
        color: #36a5ed;
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }

  .p-t--w-m--wrap {
    width: 100%;
    max-width: 990px;
    padding: 60px 10px 0;
    margin: 0 auto;
    counter-reset: items;
  }

  .p-t--w-m--item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    counter-increment: items;
    margin-bottom: 100px;

    &:nth-child(even) {
      flex-direction: row-reverse;

      .p-t--w-m--item-image {
        justify-content: flex-start;
      }
    }


    .p-t--w-m--item-text {
      width: 100%;
      max-width: 500px;
      margin-right: 20px;
      position: relative;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        color: rgba(54, 54, 54, 0.4);
        font-size: 48px;
        font-weight: 700;
        content: "0" counter(items);
        transform: translate(-100%, -50%);
      }

      .p-t--w-m--text-title {
        color: #36a5ed;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 30px;
      }

      .p-t--w-m--text-info {
        p {
          color: #646464;
          font-size: 18px;
          font-weight: 300;
          margin-bottom: 20px;

          strong {
            color: #3aa8ef;
            font-weight: 700;
          }
        }
      }
    }

    .p-t--w-m--item-image {
      width: 100%;
      max-width: 400px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .p-t-w-m--bottom-text {
    width: 100%;
    max-width: 990px;
    padding: 0 10px;
    margin: 0 auto 77px;

    p {
      color: #3aa8ef;
      font-size: 18px;
      font-weight: 700;
    }
  }

  .p-t-w-m--form {
    width: 100%;
    max-width: 576px;
    background-image: linear-gradient(-45deg, #36a5ed 0%, #59beff 100%);
    position: relative;
    padding: 36px 20px;
    border-radius: 40px;
    overflow: hidden;
    margin: 0 auto 79px;

    .formBg {
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateY(30%);
    }

    .p-t-w-m--form--title {
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 25px;
      text-align: center;
    }

    #reactHubspotForm0, #reactHubspotForm1 {
      width: 100%;
      max-width: 320px;
      margin: 0 auto;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      

      input {
        width: 100%;
        max-width: 320px;
        height: 40px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        line-height: 14px;
        text-align: center;
        margin-bottom: 15px;
        border-radius: 40px;
        border: 1px solid #ffffff;
        background: transparent;

        &::placeholder {
          text-align: center;
          color: #ffffff;
          font-size: 14px;
          font-weight: 300;
          line-height: 14px;
        }
      }
      button {
        width: 162px;
        height: 42px;
        border-radius: 40px;
        border: 1px solid #ffffff;
        background-color: #ffffff;
        color: #37a6ee;
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        margin-top: 20px;
        cursor: pointer;
        transition: background-color .4s ease-in-out, color .4s ease-in-out;
        border: none;
        &:hover {
          background-color: #37a6ee;
          color: #fff;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .pillar-top--why-migrate .p-t--w-m--item, .pillar-top--why-migrate .p-t--w-m--item:nth-child(even) {
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }
  .pillar-top--why-migrate .p-t--w-m--item:nth-child(even) .p-t--w-m--item-image {
    justify-content: center;
  }
  .pillar-top--why-migrate .p-t--w-m--item .p-t--w-m--item-text {
    max-width: initial;
  }
  .pillar-top--why-migrate .p-t--w-m--item .p-t--w-m--item-image {
    margin-bottom: 70px;
  }
  .pillar-top--why-migrate .p-t--w-m--item .p-t--w-m--item-text:before {
    transform: translate(0,-80%);
  }

  .pillar-top--why-migrate .p-t--w-m--item .p-t--w-m--item-text {
    margin-right: 0;
  }
  .pillar-top--why-migrate {
    padding: 0 10px;
  }
}
@media only screen and (max-width: 1100px) {
  .pillar-top--why-migrate .p-t-w-m--form form .p-t-w-m--form--title {
    font-size: 18px;
  }
}