.pillar-visualize {
  width: 100%;
  margin-bottom: 80px;

  .container {
    width: 100%;
    max-width: 990px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .title {
    color: #37a6ee;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;

  }

  .visualize--text {
    margin-bottom: 50px;

    p {
      a {
        color: #38a6ee;
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }

  .visualize--image {
    width: 100%;
    position: relative;

    img {
      width: 100%;
      position: relative;
    }
  }
}