.approach {
  width: 100%;
  position: relative;
  padding: 108px 0 91px;

  .container {
    width: 100%;
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .title {
    color: #36a5ed;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 70px;
    text-align: center;
  }

  .approach_wrap {
    display: flex;
    flex-direction: column;
    counter-reset: approach;
    margin-bottom: 85px;
  }


  .approach_btn {
    width: 320px;
    height: 60px;
    border-radius: 40px;
    background-color: #36a5ed;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    transition: background .4s ease-in-out;

    &:hover {
      background: #37d6ff;
    }

    span {
      text-align: center;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
    }
  }

  .approach_item {
    display: flex;
    align-items: center;
    margin-bottom: 82px;
    position: relative;

    .approach_arrow {
      position: absolute;
      top: -20px;
      right: 0;
      width: 113px;
      transform: scale(-1, 1);
      svg {
        width: 113px;
        height: auto;
        fill: #36A5ED;
      }
    }

    &:first-child {
      .approach_arrow {
        display: none;
      }
    }

    &:nth-child(even) {
      flex-direction: row-reverse;
      .approach_arrow {
        left: 0;
        transform: scale(1, 1);
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    .approach_item--image {
      position: relative;
      width: 100%;
      max-width: 714px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        position: relative;
      }
    }

    .approach_item--info {
      width: 100%;
      max-width: 714px;
      margin-right: 20px;
      display: flex;
      align-items: flex-end;
      padding-left: 40px;
      position: relative;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.3;
        font-size: 48px;
        font-weight: 700;
        counter-increment: approach;
        content: "0" counter(approach);
        transform: translate(-50%, -50%);
      }

      .approach_item--info--left {
        display: flex;
        flex-direction: column;
        flex: 1 1 50%;

        .approach_item--info--img {
          width: 60px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 29px;

          img {
            position: relative;
          }
        }

        .approach_item--info--title {
          color: #646464;
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 25px;
        }

        .approach_item--info--text {
          color: #646464;
          font-size: 18px;
          font-weight: 300;
        }
      }

      .approach_item--info--right {
        position: relative;
        flex: 1 1 50%;
        padding-left: 30px;
        margin-left: 20px;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          width: 1px;
          height: 100%;
          background: #36a5ed;
          content: '';
        }

        .approach_item--info--right-title {
          color: #646464;
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 18px;
        }

        .approach_item--info--right-btn {
          width: 220px;
          height: 50px;
          border-radius: 40px;
          background-color: #36a5ed;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: background .4s ease-in-out;

          &:hover {
            background: #37d6ff;
          }

          span {
            text-align: center;
            color: #ffffff;
            font-size: 18px;
            font-weight: 700;
            line-height: 14px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1500px) {
  .approach .approach_item .approach_item--info:before {
    transform: translate(0, -50%);
  }
}

@media only screen and (max-width: 1360px) {
  .approach .approach_item .approach_item--image {
    max-width: 320px;
  }
}

@media only screen and (max-width: 1170px) {
  .approach .approach_item .approach_arrow svg {
    width: 90px ;
  }
}

@media only screen and (max-width: 1100px) {
  .approach .approach_item .approach_arrow {
    top: -70px;
  }
  .approach .approach_item .approach_arrow svg {
    width: 70px ;
  }
}

@media only screen and (max-width: 960px) {
  .approach .approach_item .approach_item--info {
    flex-direction: column;
    align-items: initial;
  }
  .approach .approach_item .approach_item--info .approach_item--info--left {
    margin-bottom: 20px;
  }
  .approach .approach_item .approach_item--info .approach_item--info--right {
    margin-left: 0;
  }
  .approach .approach_item {
    flex-direction: column-reverse;
    margin-bottom: 120px;
  }
  .approach .approach_item:nth-child(even) {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 600px) {
  .approach .approach_item {
    margin-bottom: 40px;
  }
  .approach .approach_item .approach_item--image img {
    transform: scale(.6);
  }
}

