.pillar-how-test {
  position: relative;
  width: 100%;
  margin-bottom: 80px;

  .container {
    width: 100%;
    max-width: 990px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .title {
    text-align: center;
    color: #37a6ee;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .how-test--text {
    p {
      color: #646464;
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 40px;
    }
  }
}