.pillar-mistakes {
  position: relative;
  width: 100%;
  margin-bottom: 80px;

  .container {
    width: 100%;
    max-width: 990px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .title {
    text-align: center;
    color: #37a6ee;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .mistakes--text {
    p {
      color: #646464;
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 40px;
    }
    ul {
      li {
        position: relative;
        padding-left: 32px;
        margin-bottom: 20px;

        &:before {
          position: absolute;
          top: 7px;
          left: 6px;
          width: 12px;
          height: 12px;
          border: 2px solid #36a5ed;
          background-color: #ffffff;
          content: '';
          border-radius: 50%;
        }
      }
    }
  }
}