.pillar-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  z-index: 55;

  .pillar-header--wrap {
    width: 100%;
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header--logo {
    svg {
      fill: #fff;

      path {
        fill: #fff;
      }
    }
  }

  .burger_menu {
    position: relative;
    width: 30px;
    height: auto;
    display: none;

    svg {
      position: relative;
      width: 100%;
      height: auto;
      fill: #36a5ed;
    }
  }

  .pillar-header--nav--wrap {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.pillar-header--nav {
  z-index: 55;
  margin-left: 40px;

  .burger_menu--cls {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: auto;
    display: none;
    transform: translate(100%, -100%);

    svg {
      fill: #fff;
    }
  }

  .nav--link {
    margin: 0 20px;
    font-size: 18px;
    color: #fff;
    position: relative;
    font-weight: 300;
    display: flex;
    flex-direction: row;

    &:hover {
      .submenu {
        opacity: 1;
        visibility: visible;
      }
    }

    .submenu {
      position: absolute;
      top: calc(100% + 30px);
      left: 50%;
      transform: translateX(-50%);
      width: 200px;
      padding: 30px 20px;
      background: rgba(#000, .7);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      opacity: 0;
      visibility: hidden;
      transition: opacity .4s ease-in-out, visibility .4s ease-in-out;

      a {
        margin-bottom: 25px;
        font-size: 14px;
        color: #fff;
        position: relative;
        text-align: center;

        &:hover {
          &:before {
            width: 30%;
          }
        }

        &:before {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 70%;
          height: 1px;
          content: '';
          background: #fff;
          transition: width .4s ease-in-out;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &:hover, &.active {
      &:before {
        width: 100%;
      }
    }

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0px;
      height: 1px;
      background: #36A5ED;
      transition: width .4s ease-in-out;
      content: '';
    }
  }
}

@media only screen and (max-width: 1600px) {
  .header--logo {
    width: 120px;
  }
  .pillar-header--nav {
    .nav--link {
      font-size: 16px;
    }
  }
  .btn {
    max-width: 180px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 1360px) {
  .pillar-header--nav {
    .nav--link {

      margin: 0 10px;
    }
  }
  .pillar-header--wrap {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 700px) {
  .pillar-header--nav {
    margin-left: 0;
  }
  .pillar-header--nav .nav--link {
    flex-direction: column;
    align-items: center;
    color: #3aa8ef;
    font-weight: 700;

    &:before {
      content: none;
    }

    a {
      margin-bottom: 5px;
    }
  }
  .pillar-header--nav .nav--link .submenu a {
    font-weight: 300;
    font-size: 14px;
  }
  .pillar-header--nav .nav--link .submenu {
    padding: 5px;
    position: relative;
    opacity: 1;
    visibility: visible;
    top: initial;
    left: initial;
    transform: initial;
    background: transparent;
  }
  .pillar-header {
    .burger_menu {
      display: flex;
      position: absolute;
      top: 50%;
      right: 210px;
      transform: translateY(-50%);
    }
  }
  .pillar-header--nav {
    position: fixed;
    top: -200vh;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(#363636, 1);
    visibility: hidden;
    opacity: 0;
    transition: top .4s ease-in-out, opacity .4s ease-in-out, visibility .4s ease-in-out;

    &.active {
      top: 0;
      opacity: 1;
      visibility: visible;
    }

    .burger_menu--cls {
      display: block;
      cursor: pointer;
    }

    .pillar-header--nav--wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .nav--link {
      margin: 20px 0;
    }
  }
}

@media only screen and (max-width: 440px) {
  .header--logo {
    width: 100px;
  }
  .btn {
    max-width: 140px;
  }
  .pillar-header .burger_menu {
    right: 160px;
  }
}