.footer_main {
  position: relative;
  padding: 89px 0 94px;
  background: #363636;

  .container {
    width: 100%;
    max-width: 1460px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .f_m-l--logo {
    margin-bottom: 30px;
  }

  .f_m-l--desc {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
  }

  .footer_main--left {
    width: 100%;
    max-width: 545px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
  }

  .footer_main-left--contacts {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;

    p {
      margin-bottom: 15px;
    }
  }

  .f_m--r--partners {
    max-width: 260px;
    height: max-content;
    position: relative;
    margin: 0 40px 20px;
  }

  .footer_main--right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }

  .footer_main-left--info {
    margin-right: 20px;
  }

}

@media only screen and (max-width: 960px) {
  .footer_main .footer_main--left {
    max-width: 50%;
  }
  .footer_main--right {
    width: 40%;
  }
  .footer_main .container {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 768px) {
  .footer_main .container {
    flex-direction: column;
  }
  .footer_main .footer_main--right {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer_main .footer_main--left {
    max-width: initial;
    margin-bottom: 40px;
  }
  .footer_main .f_m--r--partners {
    margin: 0 20px 20px;
  }
}

@media only screen and (max-width: 500px) {
  .footer_main {
    padding: 40px 0px;
  }
}