.pillar-how-build {
  width: 100%;
  position: relative;
  margin-bottom: 100px;

  .container {
    width: 100%;
    max-width: 990px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .title {
    color: #37a6ee;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .p-h-b--text {
    h5 {
      color: #36a5ed;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 40px;
      padding-top: 40px;
    }

    p {
      margin-bottom: 40px;

      strong {
        color: #3aa8ef;
        font-weight: 700;
      }
    }

    ul {
      li {
        position: relative;
        padding-left: 32px;
        margin-bottom: 20px;

        &:before {
          position: absolute;
          top: 7px;
          left: 6px;
          width: 12px;
          height: 12px;
          border: 2px solid #36a5ed;
          background-color: #ffffff;
          content: '';
          border-radius: 50%;
        }
      }
    }
  }

  .p-h-b--items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    .p-h-b--item {
      background-image: linear-gradient(-45deg, #36a5ed 0%, #59beff 100%);
      padding: 49px;
      margin: 0 10px 20px;
      flex: 1 1 45%;

      .p-h-b--item--title {
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 40px;
      }

      .text {
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
      }
    }
  }

  .p-h-b--bottom-text {
    margin-top: 50px;
    p {
      margin-bottom: 40px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .pillar-how-build .p-h-b--items .p-h-b--item {
    flex: 1 1 100%;
  }

  .pillar-how-build .p-h-b--items .p-h-b--item {
    padding: 35px 20px;
  }
}