* {
  font-family: 'Circe', sans-serif !important;
}
.hs-form * {
  font-family: 'Circe', sans-serif !important;
  p {
    font-family: 'Circe', sans-serif !important;
  }
}

.pillar-top--text {
  position: relative;
  width: 100%;
  padding: 75px 0 0;

  .container {
    width: 100%;
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .pillar-top-info {
    width: 100%;
    max-width: 577px;
    margin-right: 20px;

    p {
      color: #646464;
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 40px;

      a {
        color: #36a5ed;
        font-weight: 700;
        text-decoration: underline;
      }
    }
  }
  
  #hs-form-iframe-0 {
    p {
      font-size: 40px;
      color: #fff;
    }
    
  }



  .hs-custom-style > div input:not([type="image"]):not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]):not([type="file"]) {
    background: transparent !important;
  }


  .pillar-top-form {
    width: 100%;
    max-width: 477px;
    border-radius: 40px;
    background-image: linear-gradient(90deg, #36a5ed 0%, #59beff 100%);
    padding: 36px 20px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: relative;

    .hs-form-required {
      display: none;
    }

    .formBg {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(25%);
      z-index: 1;
    }

    .hs-richtext {
      margin-bottom: 31px;
    }

    .hs-error-msg {
      color: #ff2b39;
      font-size: 14px;
      font-weight: 700;
    }

    .submitted-message {
      p {
        color: #fff;
        font-weight: 700;
        font-size: 16px;
      }
    }

    .top-form, form {
      width: 100%;
      max-width: 322px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: #fff;
      position: relative;
      z-index: 2;

      .input, .field  {
        width: 100%;
      }

      input {
        width: 100%;
        height: 42px;
        border-radius: 40px;
        border: 1px solid #ffffff;
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        line-height: 14px;
        margin-bottom: 15px;
        background: transparent;

        &::placeholder {
          color: #ffffff;
          font-size: 14px;
          font-weight: 300;
          line-height: 14px;
        }
      }

      button, input[type="submit"] {
        width: 162px;
        height: 42px;
        border-radius: 40px;
        background-color: #ffffff;
        color: #37a6ee;
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        margin-top: 20px;
        cursor: pointer;
        transition: background-color .4s ease-in-out, color .4s ease-in-out;
        border: none;

        &:hover {
          background-color: #37a6ee;
          color: #fff;
        }
      }

      .form-title {
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
      }

      .form-description {
        color: #ffffff;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 31px;
      }
    }
  }
}


@media only screen and (max-width: 1170px) {
  .pillar-top--text .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .pillar-top--text .pillar-top-form {
    margin-bottom: 50px;
  }

  .pillar-top--text .pillar-top-info {
    max-width: initial;
  }

  .pillar-top--text .pillar-top-info {
    margin-right: 0;
  }
}


