.single-blog--cover {
  position: relative;
  width: 100%;
  padding-top: 60px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 75px;

  .single-blog--cover--wrap {
    width: 100%;
    max-width: 870px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
      color: #ffffff;
      font-size: 36px;
      font-weight: 300;
      line-height: 46px;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}

.single-blog--text {
  width: 100%;
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    position: relative;
    margin-bottom: 50px;
    width: auto;
  }

  .single-blog--text--p {
    p {
      color: #646464;
      margin-bottom: 40px;
      font-size: 18px;
      font-weight: 300;

      a {
        color: #37a6ee;
        font-weight: 700;
        text-decoration: underline;
      }
    }

    ul {
      li {
        position: relative;
        padding-left: 32px;
        margin-bottom: 20px;

        a {
          color: #37a6ee;
          font-weight: 700;
          text-decoration: underline;
        }

        &:before {
          position: absolute;
          top: 7px;
          left: 6px;
          width: 12px;
          height: 12px;
          border: 2px solid #36a5ed;
          background-color: #ffffff;
          content: '';
          border-radius: 50%;
        }
      }
    }

    h3 {
      color: #37a6ee;
      text-align: center;
      font-size: 36px;
      font-weight: 700;
    }
  }
}

@media only screen and (max-width: 440px) {
  .single-blog--text .single-blog--text--p h3 {
    font-size: 26px;
  }
  .single-blog--cover .single-blog--cover--wrap h1 {
    font-size: 20px;
  }
}