.pillar-cover {
  width: 100%;
  position: relative;
  min-height: 420px;
  background: #194d88;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;

  .pillar-cover--wrap {
    width: 100%;
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    z-index: 5;
    position: relative;
  }

  .pillar-cover--h2 {
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    line-height: 36px;
  }

  .pillar-cover--h1 {
    font-size: 48px;
    font-weight: 800;
    color: #fff;
    line-height: 48px;
  }

  .pillar-cover--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
  }
}

@media only screen and (max-width: 768px) {
  .pillar-cover .pillar-cover--h2 {
    font-size: 26px;
  }
  .pillar-cover .pillar-cover--h1 {
    font-size: 38px;
  }
}