.single-case {
  position: relative;

  p {
    margin-bottom: 20px !important;
  }
}


.single-case_f-s {
  padding-top: 60px;
  position: relative;
  width: 100%;
  min-height: 730px;
  background-image: linear-gradient(180deg, rgba(54, 165, 237, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.single-container {
  width: 100%;
  max-width: 1340px;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single-case_f-s--left {
  width: 100%;
  max-width: 545px;
  margin-right: 20px;

  h1 {
    color: #36a5ed;
    font-size: 48px;
    font-weight: 700;
  }

  h2 {
    color: #1a2444;
    font-weight: 400;
    font-size: 36px;
  }
}

.single-case_f-s--image {
  width: 100%;
  max-width: 700px;
  position: relative;

  img {
    position: relative;
    width: 100%;
  }
}

.single-case-first-item {
  margin-bottom: 80px;
}

.single-case-second-item {
  margin-bottom: 60px;

  .single-case-second--image {
    width: 100%;
    max-width: 420px;
    position: relative;
    margin-right: 20px;

    img {
      width: 100%;
      position: relative;
    }
  }

  .single-container {
    flex-direction: row-reverse;
  }
}

.single-case-first--text, .single-case-second--text {
  width: 100%;
  max-width: 586px;
  margin-right: 20px;

  h4 {
    color: #36a5ed;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
    color: #646464;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.single-case-first--image {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    position: relative;
    width: 100%;
  }
}

.single-case-third-item {
  background-color: #fafafa;
  padding: 83px 0;
  margin-bottom: 80px;


  .single-container {
    align-items: flex-start;
  }
}

.single-case-third--title {
  margin-right: 20px;

  h3 {
    width: 100%;
    margin-bottom: 20px;
    max-width: 586px;
    color: #1a2444;
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;

  }
}

.single-case-third--list {
  width: 100%;
  max-width: 600px;

  ul {
    list-style: none;

    li {
      color: #646464;
      font-size: 22px;
      font-weight: 400;
      position: relative;
      padding-left: 36px;
      margin-bottom: 26px;

      &:before {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 3px solid #3daaed;
        content: '';
        left: 0;
        top: 8px;
      }
    }
  }
}

.single-case-fourth-item {
  width: 100%;
  position: relative;
  margin-bottom: 60px;

  .single-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

.single-case-fourth--title {
  color: #36a5ed;
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  width: 100%;
  max-width: 826px;
  margin-bottom: 30px;
}

.single-case-fourth--items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 -40px;

  .single-case-fourth--item {
    width: 100%;
    max-width: 344px;
    flex: 1 1 20%;
    position: relative;
    padding-top: 30px;
    margin: 0 40px 40px;

    p {
      color: #646464;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #36a5ed;
      content: '';
    }
  }
}

.single-case-fiveth-item {
  position: relative;
  width: 100%;
  padding-top: 50px;
  margin-bottom: 80px;

  .single-case-fiveth--text {
    width: 100%;
    max-width: 590px;
    margin-right: 20px;

    h4 {
      color: #36a5ed;
      margin-bottom: 20px;
      font-size: 48px;
      font-weight: 700;
      line-height: 62px;
    }

    p {
      color: #646464;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 400;
    }
  }

  .single-case-fiveth--image {
    width: 100%;
    max-width: 450px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      position: relative;
      width: 100%;
    }
  }
}

.single-case-six-item {
  position: relative;
  padding-top: 80px;
  padding-bottom: 100px;

  .single-container {
    flex-direction: row-reverse;
  }

  .single-case-six--image {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;

    img {
      position: relative;
      width: 100%;
    }
  }

  .single-case-six--text {
    width: 100%;
    max-width: 590px;

    h4 {
      margin-bottom: 40px;
      color: #36a5ed;
      font-size: 48px;
      font-weight: 700;
      line-height: 62px;
    }

    p {
      color: #646464;
      margin-bottom: 20px;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }

    blockquote {
      margin-left: 121px;
      color: #424141;
      margin-bottom: 20px;
      font-size: 22px;
      font-weight: 700;
      line-height: 33px;
      position: relative;
      padding-top: 40px;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: url('../../Assets/svg/quote.png');
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .single-case_f-s--left h1 {
    font-size: 36px;
  }

  .single-case_f-s--left h2 {
    font-size: 26px;
  }

  .single-case-fourth--title {
    font-size: 36px;
  }

  .single-case-first--text h4, .single-case-second--text h4, .single-case-fiveth-item .single-case-fiveth--text h4, .single-case-six-item .single-case-six--text h4 {
    font-size: 36px;
  }

  .single-case-third--title h3 {
    font-size: 36px;
  }

  .single-case-third--list ul li {
    font-size: 18px;
  }

  .single-case-third--list ul li:before {
    top: 2px;
  }

}

@media only screen and (max-width: 1000px) {
  .single-case-third-item {
    .single-container {
      flex-direction: column;
    }
  }
  .single-case-third--title h3 {
    max-width: initial;
    margin-bottom: 60px;
  }
  .single-case-third--list {
    max-width: initial;
  }
}

@media only screen and (max-width: 900px) {
  .single-case-six-item .single-case-six--text blockquote {
    margin-left: 0;
  }
  .single-case-fourth--items .single-case-fourth--item {
    flex: 1 1 35%;
  }

  .single-case-first--text {
    max-width: initial;
  }
  .single-case_f-s--left {
    max-width: initial;
  }

  .single-case-second--text {
    max-width: initial;
  }

  .single-case_f-s--image {
    max-width: 360px;
    margin-bottom: 60px;
  }

  .single-case-first--image {
    max-width: 360px;
  }

  .single-case-six-item .single-case-six--image {
    max-width: 360px;
  }

  .single-case-second-item .single-case-second--image {
    max-width: 360px;
  }

  .single-case-fiveth-item .single-case-fiveth--image {
    max-width: 360px;
  }

}

@media only screen and (max-width: 768px) {
  .single-case-six-item .single-container {
    flex-direction: column-reverse;
  }
  .single-case-six-item .single-case-six--text {
    max-width: initial;
    margin-right: 0;
  }
  .single-case-six-item .single-case-six--image {
    margin-right: 0;
    margin-bottom: 60px;
  }
  .single-case-fiveth-item .single-case-fiveth--image {
    margin-bottom: 60px;
  }
  .single-case-fiveth-item {
    .single-container {
      flex-direction: column-reverse;
    }
  }
  .single-case-fiveth-item .single-case-fiveth--text {
    margin-right: 0;
    max-width: initial;
  }
  .single-case-fourth--items .single-case-fourth--item {
    flex: 1 1 100%;
    max-width: initial;
    margin: 0 0 70px;
  }
  .single-case-fourth--items {
    margin: 0;
  }
  .single-case-first--image {
    max-width: 300px;
  }
  .single-case-second-item .single-case-second--image {
    max-width: 300px;
  }
  .single-case_f-s {
    .single-container {
      flex-direction: column-reverse;
    }
  }

  .single-case-first-item {
    .single-container {
      flex-direction: column-reverse;
    }
  }
  .single-case_f-s--left {
    margin-right: 0;
  }
  .single-case-first--text {
    margin-right: 0;
  }
  .single-case-first--image {
    margin-bottom: 40px;
  }

  .single-case-second--text {
    margin-right: 0;
  }

  .single-case-second-item .single-case-second--image {
    margin-right: 0;
    margin-bottom: 40px;
  }


  .single-case-second-item {
    .single-container {
      flex-direction: column-reverse;
    }
  }
}

@media only screen and (max-width: 440px) {
  .single-case_f-s--left h1 {
    font-size: 28px;
  }
  .single-case_f-s--left h2 {
    font-size: 20px;
  }
  .single-case-third--title h3, .single-case-fourth--title, .single-case-first--text h4, .single-case-second--text h4, .single-case-fiveth-item .single-case-fiveth--text h4, .single-case-six-item .single-case-six--text h4 {
    font-size: 28px;
    line-height: initial;
  }
  .single-case {
    img {
      max-width: 240px !important;
    }
  }
  .single-case-fourth-item {
    margin-bottom: 0px;
  }
  .single-case_f-s {
    min-height: 540px;
  }
  .single-case_f-s--image {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .single-case-third-item {
    padding: 50px 0;
  }
}