.pillar-nav {
  width: 100%;
  position: relative;
  max-width: 1460px;
  padding: 68px 10px 0;
  display: flex;
  flex-wrap: wrap;
  counter-reset: nav;
  margin: 0 auto;

  .pillar-nav--item {
    width: 12.5%;
    min-height: 200px;
    padding: 74px 15px 15px;
    background-image: linear-gradient(90deg, #36a5ed 0%, #59beff 100%);
    position: relative;
    counter-increment: nav;
    cursor: pointer;
    text-align: center;
    margin: 0 10px 80px;

    .pillar-nav--circle {
      position: absolute;
      top: 0;
      left: 50%;
      width: 96px;
      height: 96px;
      background-color: #ffffff;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #36a5ed;
      border-radius: 50%;

      span {
        &:before {
          color: #37a6ed;
          font-size: 36px;
          font-weight: 700;
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          content: counter(nav);
        }
      }
    }

    span {
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1170px) {
  .pillar-nav .pillar-nav--item {
    width: 20%;
  }
}

@media only screen and (max-width: 768px) {
  .pillar-nav {
    margin-bottom: 40px;
  }
  .pillar-nav .pillar-nav--item {
    width: 100%;
    min-height: 120px;
    padding: 0 20px 0 90px;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    text-align: left;
  }
  .pillar-nav .pillar-nav--item span {
    text-align: left;
  }
  .pillar-nav .pillar-nav--item .pillar-nav--circle {
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    background: transparent;
    border: none;
    span {
      &:before {
        color: #fff;
      }
    }
  }
}