body {
  font-family: 'Circe';
  font-size: 17px;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  color: #646464;
  font-weight: 300;
  line-height: 1.65;
  overflow-x: hidden;
}


.btn {
  width: 240px;
  height: 50px;
  color: #fff;
  background-color: #36A5ED;
  border-radius: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  transition: background-color .4s ease-in-out;

  &:hover {
    background-color: #37d6ff;
  }
}

.landing {
  overflow: hidden;
}


@media only screen and (max-width: 440px) {
  .title {
    font-size: 30px !important;
    margin-bottom: 50px !important;
  }
}
