.first--screen {
  width: 100%;
  min-height: 800px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &_wrap {
    width: 100%;
    max-width: 1260px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_left {
    margin-right: 20px;
  }

  &_right {
    width: 100%;
    max-width: 578px;
    height: auto;
    position: relative;

    img {
      position: relative;
      width: 100%;
      height: auto;
    }
  }

  &_h1 {
    font-weight: bold;
    font-size: 48px;
    color: #646464;
  }

  &_description {
    font-size: 36px;
    color: #646464;
  }

  &_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
}

@media only screen and (max-width: 1170px) {
  .first--screen_right {
    max-width: 400px;
  }
  .first--screen_h1 {
    font-size: 38px;
  }
  .first--screen_description {
    font-size: 26px;
  }
}

@media only screen and (max-width: 768px) {
  .first--screen {
    min-height: 700px ;
  }
  .first--screen_wrap {
    padding-top: 80px;
    flex-direction: column;
  }
  .first--screen_left {
    margin-right: 0;
    margin-bottom: 40px;
    text-align: center;
  }
}