.services {
  width: 100%;
  position: relative;
  padding-bottom: 80px;

  .title {
    color: #36A5ED;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 70px;
  }

  .container {
    width: 100%;
    max-width: 1260px;
    padding: 0 10px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }

  &_wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -42px 60px;
  }

  &_item {
    width: 26.95%;
    margin: 0 42px 40px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .services_icon {
      margin-bottom: 26px;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      img {
        position: relative;
      }
    }

    .services_title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
      text-align: center;
      min-height: 75px;
    }

    .services_text {
      font-size: 18px;
      text-align: center;
    }
  }

  .service_btn {
    width: 100%;
    max-width: 320px;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #36A5ED;
    border-radius: 40px;
    margin: 0 auto;
    transition: background .4s ease-in-out;

    &:hover {
      background: #37d6ff;
    }

    span {
      font-size: 18px;
      font-weight: 700;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 1360px) {
  .services_wrap {
    justify-content: space-between;
    margin: 0 0 60px;
  }
  .services_item {
    margin: 0 15px 40px;
  }
}

@media only screen and (max-width: 1170px) {
  .services_item {
    width: 45%;
  }
}

@media only screen and (max-width: 600px) {
  .services_item {
    width: 100%;
    margin: 0 0 40px;
  }
}