.pillar-type-migrate {
  width: 100%;
  max-width: 990px;
  padding: 0 10px;
  margin: 0 auto;

  .title {
    color: #37a6ee;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .p-t-m--text {
    margin-bottom: 80px;
    p {
      color: #646464;
      margin-bottom: 40px;
      font-size: 18px;
      font-weight: 300;

      strong {
        color: #3aa8ef;
        font-weight: 700;
      }
    }

    h4 {
      position: relative;
      padding-left: 100px;
      font-size: 24px;
      font-weight: 700;
      margin: 70px 0 20px;
      color: #36a5ed;

      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 80px;
        height: 1px;
        transform: translateY(-50%);
        content: '';
        background: #36a5ed;
      }
    }
  }
}

@media only screen and (max-width: 440px) {

}